#footer {
    position: fixed;
    padding: 10px 0px 0px 0px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 60px;
    background: grey;
}

#idimage{
    position: absolute;
    top:10px;
    right:10px;
}