@font-face{
    font-family: titleFont;
    src: url(BAHNSCHRIFT.TTF);
}

#footer {
    position: fixed;
    padding: 10px 0px 0px 0px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 10%;
    background: white;
    display: flex;
    justify-content: space-evenly;
}
#submit_footer {
    position: fixed;
    padding: 10px 0px 0px 0px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 17%;
    background: rgb(165, 222, 115);
}
#idimage{
    position: relative;
}
.profile_image{
    position: absolute;
    top:10px;
    right:10px;
    max-width: 70px;
    width: 10%;
    height: auto;
}
#menu_landing_bar
{
    width: 100%;
    height: 110px;
    background-color: rgb(165, 222, 115);
    text-align:center;
    display:table;
}

body
{
    margin: 0px
}
.landing_title
{
    padding-top: 20px;
    font-family: titleFont;
    font-size: 50;
    color: white;
    display:table-cell; 
    vertical-align: middle;
}
#today_landing
{
    width: 100%;
    height: 170px;
    background-color: rgb(165, 222, 115);
    text-align:center;
    display:table;
}
.sub_heading
{
    padding-top: 10px;
    font-family: titleFont;
    font-size: 50;
    color: white;
    display:table-cell; 
    vertical-align: middle;
}
.container
{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    max-width: none;
}
.organizer
{
    width:220px;
    height:100px;
    display: inline-block
}
.count
{
    font-size: 20pt;
}
.score_good
{
    font-size: 20pt;
    color: green;
    float: right
}
.score_meh
{
    font-size: 20pt;
    color: orange;
    float: right
}
.score_bad
{
    font-size: 20pt;
    color: red;
    float: right
}
.menu_item_title
{
    font-family: titleFont;
}

.submitbtn
{
    background-color: rgb(165, 222, 115);
    text-align: center;
    font-family: titleFont;
    color: white;
    height:100%;
    font-size: 20pt;
    display: inline-block;
    width: 100%;
}

.navbtn
{
    display: inline-block;
    background-color: white;
    height: 100%;
}

.icoimage
{
    height: 80%;
}
.probullet
{
    color: green;
}

.gradientBar{
    display:block;
    background-image: linear-gradient(to right, #FF6600, #FF0192);
    height: 5px;
    width: 100%;
}

.submitCount
{
    display: inline;
    float: right;
}
.buttontext
{
    width: 100%;
    text-align: center;
    display: inline;
}