@font-face{
    font-family: titleFont;
    src: url(BAHNSCHRIFT.TTF);
}
@font-face{
    font-family: LoraFont;
    src: url(Lora-Medium.ttf);
}
#footer {
    position: fixed;
    padding: 10px 0px 0px 0px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 10%;
    background: white;
    display: flex;
    justify-content: space-evenly;
}
#submit_footer {
    position: fixed;
    padding: 10px 0px 0px 0px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 17%;
    background: rgb(165, 222, 115);
}
#idimage{
    position: relative;
}
.profile_image{
    position: absolute;
    top:10px;
    right:10px;
    max-width: 70px;
    width: 10%;
    height: auto;
}
#menu_landing_bar
{
    width: 100%;
    height: 110px;
    background-color: rgb(165, 222, 115);
    text-align:center;
    display:table;
}

.Logo
{
    font-family: LoraFont;
    font-size: 400%;
    color: green;
}

body
{
    margin: 0px
}
.landing_title
{
    padding-top: 20px;
    font-family: titleFont;
    font-size: 50;
    color: white;
    display:table-cell; 
    vertical-align: middle;
}
#today_landing
{
    width: 100%;
    height: 170px;
    background-color: rgb(165, 222, 115);
    text-align:center;
    display:table;
}
.sub_heading
{
    padding-top: 10px;
    font-family: titleFont;
    font-size: 50;
    color: white;
    display:table-cell; 
    vertical-align: middle;
}
.container
{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    max-width: none;
}
.organizer
{
    width:220px;
    height:100px;
    display: inline-block
}
.count
{
    font-size: 20pt;
}
.score_good
{
    font-size: 20pt;
    color: green;
    float: right
}
.score_meh
{
    font-size: 20pt;
    color: orange;
    float: right
}
.score_bad
{
    font-size: 20pt;
    color: red;
    float: right
}
.menu_item_title
{
    font-family: titleFont;
}

.submitbtn
{
    background-color: rgb(165, 222, 115);
    text-align: center;
    font-family: titleFont;
    color: white;
    height:100%;
    font-size: 20pt;
    display: inline-block;
    width: 100%;
}

.navbtn
{
    display: inline-block;
    background-color: white;
    height: 100%;
}

.icoimage
{
    height: 80%;
}
.probullet
{
    color: green;
}

.gradientBar{
    display:block;
    background-image: linear-gradient(to right, red,yellow,green);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 32px;
    height: 30px;
    width: 80%;
}
.arrow{
    color:white;
    font-size:20px;
    margin-left: 56%;
    margin-right: 43%;
    max-height:25px;
}
.center{
    color: white;
    text-align: center;
    max-height: 320px;
    font-family: titleFont;
}

.score_label{
    max-height: 50px;
    font-size:50px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px;
}
.score_label2{
    max-height: 30px;
    font-size:30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px;
}
.score_num{
    max-height: 120px;
    font-size:100px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px;
}
.score_num2{
    max-height: 90px;
    font-size:80px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px;
}
.box{
    background-color: rgb(165, 222, 115);
}

.message{
    font-size: 30px;
}

.button{
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    height: 100px;
    color:white;
    background-color: rgb(165, 222, 115);
    text-align: center;
}

.btnheading
{
    text-align: center;
    font-size: 40px;
    color: white;
}

.submitCount
{
    display: inline;
    float: right;
}
.graph{
    width: 70%;
    height:auto;
}

.tooltip{
    font-size : 20pt;
}

.stats_block{
    color: white;
    text-align: center;
    max-height: 250px;
    font-family: titleFont;
    background-color: rgb(165, 222, 115);
}